<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>signup</title>
  <script src="//github.elemecdn.com/vuejs/vue/v2.0.0-beta.1/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="handleSubmit">
      <input type="email" v-model="username" placeholder="username">
      <input type="password" v-model="password" placeholder="password">
      <input type="password" v-model="conform" placeholder="conform">
      <input type="submit" :disabled="invalid">
    </form>
    <ul>
      <li v-for="err in errors" v-text="err"></li>
    </ul>
  </div>
<script type="text/javascript" src="/vuerify/vuerify.84ed7e9.js"></script><script type="text/javascript" src="/vuerify/signup.54b6b70.js"></script></body>
</html>