<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>signup</title>
  <script src="//cdn.jsdelivr.net/vue/2.0.0-rc.8/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="handleSubmit">
      <input type="email" v-model="username" placeholder="username">
      <input type="password" v-model="password" placeholder="password">
      <input type="password" v-model="conform" placeholder="conform">
      <input type="email" v-model="email">
      <input type="submit" :disabled="invalid">
    </form>
    <ul>
      <li v-for="err in errors" v-text="err"></li>
    </ul>
  </div>
</body>
</html>